//
// VARIABLES
//

// Colors
$blue: #4183c4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

//color template
$gunmetal: rgba(45, 49, 66, 1);
$eggshell: rgba(235, 235, 211, 1);
$grain: rgba(244, 211, 94, 1);
$ochre: rgba(239, 131, 84, 1);
$cordal: rgba(79, 93, 117, 1);
$navy: #22333b;
$light: #eae0d5;

// Font stacks
$helvetica: Helvetica,
Arial,
sans-serif;
$helveticaNeue: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$georgia: Georgia,
serif;
$arial: Arial,
san-serif;

// Mobile breakpoints
@mixin mobile {
    @media screen and (max-width: 640px) {
        @content;
    }
}
