<!DOCTYPE html>
<html class='main'>
        <head>
                <meta charset="utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <title>Comparisons</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                
                <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
                <link rel="stylesheet" type="text/css" media="screen" href='../styles.css'/>
            <title>humidity</title>
</head>
<body>
<!--Beginning of nav bar-->
<div class="container">
        <div class='row bg-primary' >
            <div class='col-md-4'>
                <div class='headerbox'> 
                    <h1> WeatherPy </h1>
                    <h4>Humidity</h4> 
                </div>
            </div>
        
        <div class='col-md-8'>
            <div class='row'>
                <span class="align-right">
                    <div class='col-md-10 center_button'>
                            <a href='../index.html'>
                                <button class="btn btn-info  button" type="submit">Home</button>  
                                </a>
                        <a href="../templates/comparisons.html">
                            <button class="btn btn-info  button" type="submit">Comparisons</button>  
                        </a>
                        <a href="../templates/data.html">
                            <button class="btn btn-info  button" type="submit" >Data</button>   
                        </a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Visualizations by Latitude <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="../templates/humidity.html">Humidity</a></li>
                                <li><a href="../templates/pressure.html">Pressure</a></li>
                                <li><a href="../templates/temperature.html">Temperature</a></li>
                                <li><a href="../templates/wind.html">Wind</a></li>
                                <li><a href="../templates/cities.html">Top Randomly Found Cities</a></li>
                            </ul>
                            </div>
                    </div> 
                    <div class='col-md-2'>
                        <img src='../images/weather.png' class="img-circle logo" width="80" height="80" >
                    </div>                
                </span>
            </div>
        </div>
    </div>
</div>
<!--end of nav bar-->
    <div class='row vizclr'>
                    <div class='col-md-5'>
                        <img id='title_img' src="../images/humidity_lat.png" alt='randomly found cities'>
                    </div>
                    <div class='col-md-4'>
                        <p class="text-center">
                        <h4>Dry skin to the North and South</h4>
                        At latitude values close to zero aka around the equator for the most part 
                        humidity is high, but as we move away from the equator towards the poles 
                        we see areas that are considerably drier. Note we also see that in general
                        we mostly get humidity data from northern latitudes rather than southern ones
                        this is likely due to the fact that there is less landmass in the south 
                        than in the north. 
                        
                    </p>
                    </div>
</body>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</html>